
a {
    text-decoration: none !important;
    color: #fff !important;
}

a.active {
    color: rgb(255, 189, 67) !important;
    text-shadow: 0px 5px 5px rgb(14, 19, 100) !important;
}

.navbar {
background-color: rgb(49, 86, 197);
 box-shadow: -1px 10px 9px -4px rgba(224, 224, 224, 0.986);
 -webkit-box-shadow: -1px 6px 9px -4px rgba(235, 233, 233, 0.75);
 -moz-box-shadow: -1px 10px 9px -4px rgba(204, 204, 204, 0.75); 

}

.navbar *{
 animation-name: navbar;
 animation-duration: 0.4s;
 transition: 0.3s ease;
}

@keyframes navbar {
    from {
      transform: translate(-1000px)
    }
    to {
      transform: translate(0px);
    }
}

.navbar a:hover {
    color: rgb(255, 189, 67) !important;
   text-shadow: 0px 5px 5px rgb(39, 71, 177);
}

.navbar .navbar-brand {
    font-size: 2.8rem;
    cursor: pointer;
    color: rgb(255, 189, 67) !important;
    text-shadow: 0px 5px 5px rgb(39, 71, 177);
}

@media(max-width: 380px) {
    .navbar .navbar-brand {
        font-size: 2rem;
    }
}

.nav-links {
    width: 100%;
    display: flex;
    justify-content: end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0.4px;
}

.nav-links * {
    margin-right: 1.1rem;
    text-shadow: 0px 5px 5px rgb(30, 35, 143);
    font-size: 1.3rem !important;
}
